<?php
?>
<form action="?action=confirm" method="post">
    <p>Ваш телефон<input type="text" name="tel" placeholder="+7-000-000-00-00"></p>
    <p>Ваш емейл<input type="text" name="email" placeholder="geekbrains@mail.ru"></p>
    <input type="submit" value="Подтвердить заказ">
</form>
